@charset "utf-8";
@import "../../lib/fragment/yo-dialog";
@import "../../lib/fragment/yo-mask";

@include yo-dialog(
  $name: a
){
    left: 50%;
    top: 50%;
    @include transform(translate(-50%, -50%));
    font-size: 100px;
};
